<section class="py-20 bg-gray-100 text-center">
  <h2 class="text-3xl font-bold mb-10">Galeri Trip</h2>

  <div class="swiper max-w-4xl mx-auto">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="rounded-xl" src="../assets/img/1.jpg" />
      </div>

      <div class="swiper-slide">
        <img class="rounded-xl" src="../assets/img/2.jpg" />
      </div>

      <div class="swiper-slide">
        <img class="rounded-xl" src="../assets/img/3.jpg" />
      </div>
    </div>
  </div>
</section>
